.bg-dark {
    --bs-bg-opacity: 0 !important;
}

@media (max-width:500px) {
    .navbar-brand {
        margin: auto !important;
    }
}

.navbar-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.google-login {
    padding-right: 1em !important;
    font-weight: 900 !important;
}