.App {
    /* text-align: center; */
    height: 100%;
}

html, body {
    height: 100%;
    background-color: black;
}

.App-link {
    color: #61dafb;
}

.lines {
    border-style: dotted;
}

.top-spacer {
    margin-top: 5em;
}

.transparent-form-control {
    background-color:rgba(0,0,0,0) !important;
    border: 1px solid white;
    color: white;
    opacity: 1;
    margin-bottom: 0.5em;
}

.view-all-link {
    text-decoration: none !important;
}

hr {
    color: white;
}