.App {
    text-align: center;
    height: 100%;
}

html, body {
    height: 100%;
    background-color: black;
}

.App-link {
    color: #61dafb;
}

.lines {
    border-style: dotted;
}

.top-spacer {
    margin-top: 5em;
}

.transparent-form-control {
    background-color:rgba(0,0,0,0) !important;
    border: 1px solid white;
    color: white;
    opacity: 1;
}

.btn-image {
    /* height: 10em;
    width: 20em; */
    height: 200px;
    width: 350px;
    font-size: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/toronto.jpg') !important;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    border-color: white !important;
    margin-top: 0 !important;
}

.btn-image:hover {
    background-image: url('./images/toronto.jpg') !important;
    background-size: 105%;
}
